@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  /* background-color: lightblue; */
}
.App {
  background-color: rgb(47, 46, 48);
  /* min-height: 200%; */
}
.navbar {
  color: #27233a;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(10, 9, 9);
  border-bottom: 5px solid #252222;
}
.navbar h1 {
  font-weight: 600;
  font-size: 28px;
  padding-left: 30px;
  /* color: #fdfdfd; */
}
.navbar .links {
  margin-left: auto;
  color: #b4b3b8;
  /* font-size: 20px; */
}
.navbar a {
  /* font-size: 10px; */
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #b4b3b8;
  /* color:rgb(255, 255, 255) */
}
.navbar a:hover {
  color: #979297;
}
.content {
  border-radius: 1rem;
  background-color: rgb(255, 255, 255,1);;
  max-width: 80%;
  vertical-align: center;
  margin-top: 80px;
  margin-left: 22%;
  margin-right: 22%;
  padding-top: 15px;
  margin-bottom: 7%;
  padding-bottom: 5%;
  min-height: 420px;
  
}
.footer {
  text-align: center;
  padding-bottom: 35px;
  padding-top: 2%;
  color: #000000;
}
/* blog list */
.blog-list {
  padding-inline: 30px;
  min-height: 300px;
}
.blog-list h2 {
  font-size: 25px;
  color: #5a5183;
  padding-bottom: 8px;
  margin-bottom: 20px;
  margin-left: 1.5%;
  min-height: 32px;
}

.blog-list h3 {
  padding-left:20px;
}

/* blog previews */
.blog-preview {
  border-radius: 1pc;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}
.blog-preview h2 {
  font-size: 20px;
  color: #b1535bce;
  margin-bottom: 8px;
  margin-left: 0;
}

.blog-preview p {
  font-size: 17px;
  color: #251e1fce;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

/* blog  page */
.blog-details {
  font-size: 15px;
  color: #241e1ece;
  padding: 10px 10px;
  margin: 2%;
  /* margin-bottom: 60px; */
  min-width: 400px;
}

.blog-details h2 {
  font-size: 30px;
  text-align: center;
  color: #b1535bce;
  padding-bottom: 0%;
}

.blog-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2b0c35ce;
  text-align: center;
}

.blog-details h4 {
  font-size: 17px;
  color: #3a1a1dce;
  margin-bottom: 10px;
  text-align: center;
 
}
.blog-details h5 {
  /* font-size: 17px;
  color: #3a1a1dce; */
  margin-top: 6%;
  /* text-align: center; */
 
}
.blog-details p {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #412c3ece;
  margin: 20px 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;

}
.blog-details button {
  background: #554d4f;
  color: #fff;
  border: 3ch;
  padding: 8px;
  margin-left: 10px;
  border-radius: 8px;
  float: right;
  min-width: 10%;
  cursor: pointer;
  margin-top: 50px;
}
/* create new blog form */
.form {
  padding-top: 10px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.form label {
  text-align: left;
  font-size: 16px;
  display: block;
  font-weight: 600;
  color: #261f46;

}
.form h2 {
  font-size: 20px;
  color: #796079;
  margin-bottom: 30px;
}
.form input, textarea, select {
  width: 100%;
  padding: 6px 10px;
  padding-bottom: 2%;
  margin: 8px 0;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  white-space: pre-line;
  overflow-wrap: break-word;
  border-radius: 10px;
}
.submit-button {
  background: #554d4f;
  color: #fff;
  border-radius: 6px;
  min-height: 40px;
}
.form textarea {
  margin-top: 2%;
  margin-bottom: 5%;
  white-space: pre-wrap;
}
.form button {
  background: #554d4f;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}